{% load static %}
<!-- ========================= FOOTER ========================= -->
<div class="container-fluid">
	<footer class="section-footer border-top">
		<div class="container">
			<section class="footer-bottom border-top row">
				<div class="col-md">
					<p class="text-muted text-center"> Made with&nbsp; <i class="fa-solid fa-heart text-danger"></i> by <strong>Nitesh</strong></p>
				</div>
			</section>
		</div><!-- //container -->
	</footer>
</div>

<!-- ========================= FOOTER END // ========================= -->