{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-light mb-3" style="max-width: 37rem;">
                <div class="card-body">
                    <h4 class="card-title">Email</h4>
                    <span class="text-light fs-5">You can add multiple emails by adding , between emails</span>
                    {% include 'includes/alerts.html' %}
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label mt-2 fs-5">Sender's Email</label>
                            <input type="text" class="form-control p-3" aria-describedby="emailHelp"
                                placeholder="Enter email" name="from_mail" multiple>
                            <label for="exampleInputEmail1" class="form-label mt-2 fs-5">Receiver's Email</label>
                            <input type="email" class="form-control p-3" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email" name="mail" multiple>
                            <label for="inputSubject" class="form-label mt-2 fs-5">Mail Subject</label>
                            <input type="text" name="mail_subject" class="form-control p-3" id="inputSubject"
                                placeholder="Enter mail's subject">
                            <div class="form-group">
                                <label for="exampleTextarea" class="form-label mt-4">Body</label>
                                <textarea class="form-control p-3" id="exampleTextarea" rows="3" name="body"></textarea>
                            </div>
                            <div class="d-grid gap-2"></div>
                            <button type="submit" class="btn btn-lg btn-outline-primary text-white mt-2 p-3">Send <i
                                    class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3" style="max-width: 43rem;">
                <div class="card-body">
                    <h4 class="card-title">JSON</h4>
                    <p class="fs-4">Send mail to mass address by uploading JSON file.</p>
                    <a class="btn btn-outline-primary text-white" href="{% url 'uploadfile' %}">Upload Json</a>
                </div>
            </div>
            <img class="img-fluid" src="{% static 'images/img.png' %}">
        </div>
    </div>
</div>
</div>
{% endblock content %}